{:paths   ["src"]
 :deps    {org.clojure/clojure            {:mvn/version "1.10.0"}
           com.datomic/datomic-free       {:mvn/version "0.9.5697"}
           refactor-nrepl                 {:mvn/version "2.3.1"}
           org.clojure/core.async         {:mvn/version "0.4.490"}
           org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}
           org.clojure/clojurescript      {:mvn/version "1.10.520"}}
 :aliases {:dev {:extra-paths ["test" "dev"]
                 :extra-deps  {org.clojure/tools.namespace            {:mvn/version "0.2.11"}
                               spec-provider                          {:mvn/version "0.4.14"}
                               com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.2"}
                               trinket                                {:local/root "/Users/sideris/devel/trinket"}}}}}
